.Navbar {
    height: 100%; 
    z-index: 1; 
    top: 0; 
    background-color: grey;
    overflow-x: hidden; 
    padding-top: 20px;
    width:100%;
  
    a {
      text-decoration: none;
      font-size: 1.25em;
      font-family: 'Times New Roman', Times, serif;
      color: white;
      text-decoration: underline;
      display: block;
  
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 600px){
    .Navbar{
      display: none;
    }
  }
 