.Navbar {
    top:0;
    background-color: grey;
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    z-index: 9999;

    a {
      font-size: 1.25em;
      color: white;
      display: flex;
      padding: 5px;
      margin-left:10px;
  
      &:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }

  @media only screen and (max-width: 600px){
    .Navbar{
      display: none;
    }
  }
 