.Navbar {
    top:0;
    background-color: grey;
    width:100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 9999;
    padding-top: auto;
    height: 80px;

    a {
      font-size: 1.25em;
      color: white;
      display: flex;
      padding: 5px;
      margin-left: auto;
      margin-top: 10px;
      white-space: nowrap;
    
  
      &:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }

  @media only screen and (max-width: 600px){
    .Navbar{
      display: none;
    }

  }

  @media (max-width: 1800px){
    .Navbar{
      width:100%;
      font-size: 13px;
    }

    @media (max-width:1200px){
      .Navbar{
        height:60px;
        font-size: 12px;

        a{}
          margin-top: -1rem;
        }
      }
  
    }
   
  
 